
*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: white;
    overflow-x: hidden;
}

nav {
    width: 100%;
    background-color:  white;
    box-shadow: 0px -15px 20px rgba(199,199,199,0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.logo {
    padding-left: 5rem;
    color: crimson;
    text-transform: uppercase;
}

nav ul {
    padding-right: 5rem;
}

nav ul a {
    text-decoration: none;
    margin-right: 1.5rem;
    color: black
}
.boton_reserva {
    background-color: crimson;
    color:white;
    padding: 10px 20px;
    border:none;
}

header .contenido {
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
    margin-top: 5rem;;
}

header .contenido .izquierda h1{
    width: 30%;
    font-size: 7rem;
    color: rgba(0,0,0,0.63);
}

header .contenido .derecha {
    width: 50%;
    line-height: 30px;

}

.montaña-imagen {
    width: 100%;
    height: 100vh;
    background-image: url("./img/mountain.png");
    background-size: contain;
    background-repeat: repeat-x;
    background-position: center;  
    position: relative;
}


.montaña-imagen .nube-1 {
    position: absolute;
    top:0;
    left: 0;
    width: 50%;
}

.montaña-imagen .nube-2 {
    position: absolute;
    top:18%;
    right: 0;
    width: 50%;
}

.montaña-imagen .nube-3 {
    position: absolute;
    top: 35%;
    left: -10%;
    width: 50%;
}

.montaña-imagen .nube-4 {
    position: absolute;
    top:40%;
    right: -10%;
    width: 50%;
}

.nube-flotante {
    width:100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.nube-flotante img {
    position: absolute;
    bottom: 0;
    max-width: 100%;
    animation: nube-flotante calc(8s * var(--i)) linear infinite
}

@keyframes nube-flotante {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

.seccion-2 {
    padding: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.seccion-2 .izquierda h1 {
    font-size: 5rem;
}
.seccion-2 .izquierda h1 span {
    background-color: crimson;
    color: white;
    padding: 0 1rem;
    border-radius: 50px;
}

.seccion-2 .derecha {
    width: 50%;
}

.seccion-2 .derecha p {
    line-height: 30px;
    font-size: .9rem;
}

.seccion-2 .derecha .info {
    display: flex;
    gap:25px;
    margin-top: 1rem;
}

.seccion-2 .derecha .info label {
    font-size: 1.8rem;
}

.seccion-3 {
    width: 100%;
    height: 100vh;
    position: relative;
}

.nube-flotante2 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    left: 0;
    bottom: -70px;
    position: absolute;
}

.nube-flotante2 img {
    position: absolute;
    bottom: 0px;
    max-width: 100%;
    animation: nube-flotante calc(2s * var(--i)) linear infinite;
}

.seccion-3 .contenido {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.seccion-3 .contenido .izquierda {
    width: 40%;
}

.seccion-3 .contenido .izquierda img {
    width: 100%;
    object-fit: contain;
    object-position: bottom;
}

.seccion-3 .contenido .derecha {
    width: 50%;
    ;
}

.seccion-3 .contenido .derecha h2 {
    color: crimson;
    padding: 1rem 0;
}

.seccion-3 .contenido .derecha p  {
    line-height: 30px;
    font-size: 1rem;
}

.seccion-3 .contenido .derecha .categorias {
    display:flex;
    margin-top: 1.5rem;
    gap: 50px;
    text-align: center;
    color: rgb(252,86,86);
}

.seccion-3 .opciones {
    background-color: white;
    font-size: 2rem;
    box-shadow: inset -2px -2px 20px rgba(249,178,178,0.5),
    inset 2px 2px 20px rgba(255,193,193,0.5);
    padding: .10rem;
    border-radius: 10px;;
}

.seccion-4  {
    width: 100%;
    height: 100vh;
    background-image: url('./img/p13.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: repeat-x;
    filter:grayscale(.7);
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}

.seccion-4 .trek_man {
    position: absolute;
    bottom: -15%;
    transform: scale(1.5);
    animation: animacion_trek_slide 10s linear infinite;
}

@keyframes animacion_trek_slide {
    0% {
        transform: translateX(150%);
    }

    100% {
        transform: translateX(-50%);
    }
}

.seccion-4 .nubes img {
    position: absolute;
    bottom: 0;
    width: 50%;
    right: -15%;
}

.seccion-4 .titulo {
    color: white;
    font-size: 10.5rem;
    text-shadow: 0px 5px 15px rgba(0,0,0,0.63);
    transform: translateY(150%);
    text-align: center;
}

.seccion-5 {
    padding: 5rem;
    background-color: white;;
}

.seccion-5 .contenido {
    display: flex;
    justify-content: space-between;
}

.seccion-5 .contenido .izquierda h1 {
   font-size: 3.5rem;
   padding-top: .2rem;
}

.seccion-5 .contenido .derecha  {
    width: 50%;
    font-size: .9rem;
}

.seccion-5 .contenido .derecha p {
    line-height: 28px;
    padding-top: 1rem;
}

.seccion-6  {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('./img/p9.jpg');
    background-position: bottom center;
    background-size: cover;
    background-attachment: fixed;
}

.seccion-6 .contenido {
    display: flex;
    justify-content: space-between;
    padding: 5rem;
    align-items: center;
    color: white;
    text-shadow: 0px 5px 15px rgba(77,76,76,0.8);
}

.seccion-7 {
    width: 100%;
    height: 100vh;
    background-image: url('./img/p5.jpg');
    background-size: cover;
    background-position: top center;
    background-color: white;
    filter: grayscale(.4);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.seccion-7 .formulario {
    padding: 2rem 5rem;
    max-width: 80%;
    width: 40%;
    box-shadow: 0px 5px 15px rgba(77,76,76,0.8);
    background-color: white;
    padding: 2rem;
    border-radius:  10px;
    margin-right: 5rem;
}

.seccion-7 .formulario  form {
    width: 95%;
    margin: 1rem auto;
}

.seccion-7 .formulario form input {
    width: 100%;
    padding: 15px;
    margin: .5rem 0;
    border-radius: 10px;
    border: 1px solid gray
}

footer {
    background-color: white;
    text-align: center;
    font-weight: 500;
    font-size: .8rem;
    padding: 2rem 0;
}